.page-header{
	margin-top: 0;
}
.panel-body{
	padding-top: 0;
	text-align: justify;
}
.featuredImg{
	margin-bottom: 15px;
}
.list-group{
	text-align: justify;
}
.nav-bar ul > li > a{
	color:hsl(0, 0%, 62%);
}
.dropdown-menu li > a{
	color:hsl(0, 0%, 62%);
}
.dropdown-menu {
	background: hsl(0, 0%, 6%);
}
.navbar-brand{
	height: 60px;
	padding: 5px;
}
.navbar{
	font-size: 16px;
}
.navbar-default{
	margin: 0px;
}






